parameters:
    scanFiles:
        - ../../autoload.php
        - ../../oxid-esales/oxideshop-ce/source/bootstrap.php
        - ../../oxid-esales/oxideshop-ce/source/oxfunctions.php
        - ../../oxid-esales/oxideshop-ce/source/overridablefunctions.php
        - IntelliSenseHelper.php
    paths:
        - Application
        - assets
        - bin
        - Config
        - Core
        - Modules
        - public
        - Setup
        - views
    excludePaths:
        - docs
        - resources
        - tests
        - .php-cs-fixer.php
        - rector.php
    level: 1
    phpVersion: 80300
    featureToggles:
        disableRuntimeReflectionProvider: true